 body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f8f0f0;
    color: #4a342e;
 }
 header{
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg,#4a342e,#f8f0f0);
 }
    header h1{
        margin: 0;
        font-size:38px;
    }
    header p{
        margin-top: 10px;
        font-size: 16px;
    }
    .instructors{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 20px;
        padding: 20px ;
    }
    .card{
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s ease;
    }
    .card:hover{
        transform: translateY(-10px);
    }
    .card img{
        width: 100%;
        height: auto;
    }
    .card-content{
        padding: 15px;
        text-align: left;
    }
    .card-content h2{
        margin: 10px 0 5px 0;
        font-size: 1.5em;
        color: #4a342e;
    }
    .card-content h4{
        margin: 5px 0;
        font-size: 1.1em;
        color: #8b6f47;
    }
    .card-content p{
        font-size: 0.9em;
        line-height: 1.4;
        color: #555;
    }
    footer{
        text-align: center;
        padding: 20px;
        background: linear-gradient(135deg,#4a342e,#f8f0f0);
        color: #f8f0f0;
    } 
    .button {
        background-color: #4a342e;
        color: #f8f0f0;
        padding: 12px 20px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }  
